// index.html style
.product-img img {
  border-radius: 35px;
}
.main-btns .btn {
  padding-top: 12px;
  padding-bottom: 12px;
}
.social-media {
  height: 30px; 
  width: 30px;
}
.project-card h2 {
  font-size: 18px;
}
#donation-form .progress {
  height: 3px;
}